
<h1><strong><center>History</center></strong></h1>
<center><%= time_tag(@postings.created_at) %></center>	


	<class id = "history-btn", style= "display: inline-block; border-radius: 25px ; border:solid ; border-color: #337ab7; padding:6px; "> <%=link_to( "History" , :action => "index", :controller => "histories")%>
	</class>

<class id = "home", style= "display: inline-block; border-radius: 25px ; border:solid ; border-color: #337ab7; padding:6px; "> <%=link_to( "Home" , :action => "index", :controller => "postings")%></class>

	<class id = "logout-btn", style= "display: inline-block; border-radius: 25px ; border:solid ; border-color: #337ab7; padding:6px; float:right ; "> <%=link_to( "Logout" , :action => "destroy", :controller => "sessions")%>
	</class>



<hr>


<%= form_tag("/posting") do %> 

<div id = "col1" style= "float: left">

	<strong>Begin</strong><br>
	<%= "1" %>
	<%=  text_field_tag(@postings, @postings.begin,:placeholder => "company name"  ) %><br>
</div>


<div id = "col2" style= "float: left">
	<strong>Outline</strong><br>
	<% @outlines.each do |o| %> 
	<%= "1" %>
	<%=text_field_tag(o, o.tagline,  :placeholder => 'tagline')%><br>
	<%end%> 
</div>

<div id = "col3" style= "float: left">
	<strong>Layout</strong><br>
	<% @layouts.each do |l| %> 
	<%= @layouts_counter +=1 %>
	<%=text_field_tag(l, l.primary, :placeholder => 'primary')%><br>
	<%= "-"%>
	<%=text_field_tag(l, l.secondary, :placeholder => 'secondary')%><br>
	<%end%> 
</div>

<div id = "col4" style= "float: left">
	<strong>Evolve</strong><br>
	<% @evolves.each do |e| %> 
	<%= @evolves_counter +=1%> 	
	<%=text_field_tag(e, e.info, :placeholder => 'info')%><br>
	<%end%> 
</div>

<div id = "col5" style= "float: left">
	<strong>Rev</strong><br>
	<% @revs.each do |r| %> 
	<%= @revs_counter +=1 %>	
	<%=text_field_tag(r, r.info, :placeholder => 'info')%><br>
	<%end%> 
</div>

<div id = "col6" style= "float: left">
	<strong>Overview</strong><br>
	<% @overviews.each do |o| %> 
	<%= @overviews_counter +=1%> 	
	<%=text_field_tag(o, o.info, :placeholder => 'info')%><br>
	<%end%> 
</div>
<div id = "col7" style= "float: left">
	<strong>Test</strong><br>
	<% @tests.each do |t| %> 
	<%= @tests_counter +=1%> 	
	<%=text_field_tag(t, t.info, :placeholder => 'info')%><br>
	<%end%> 
</div>
<div id = "col8" style= "float: left">
	<strong>Educate</strong><br>
	<% @educates.each do |e| %> 
	<%= @educates_counter +=1%> 	
	<%=text_field_tag(e, e.info, :placeholder => 'info')%><br>
	<%end%> 
</div>
<div id = "col9" style= "float: left">
	<strong>Create</strong><br>
	<% @creates.each do |c| %> 
	<%= @creates_counter +=1%> 	
	<%=text_field_tag(c, c.info, :placeholder => 'info')%><br>
	<%end%> 
</div>
<div id = "col10" style= "float: left">
	<strong>Hone</strong><br>
	<% @hones.each do |h| %> 
	<%= @hones_counter +=1%> 	
	<%=text_field_tag(h, h.info, :placeholder => 'info')%><br>
	<%end%> 
</div>

<div id = "col11" style= "float: left">
	<strong>Index</strong><br>
	<% @index_sections.each do |i| %> 
	<%= @index_counter +=1%> 	

	<%=text_field_tag(i, i.info, :placeholder => 'info')%><br>
	<%end%> 
</div>


<div id = "col12" style= "float: left">
	<strong>Note</strong><br>
	<% @notes.each do |n| %> 
	<%= @notes_counter +=1%> 	

	<%=text_field_tag(n, n.info, :placeholder => 'info')%><br>
	<%end%> 
</div>

<div id = "col13" style= "float: left">
	<strong>Contacts</strong><br>
	<% @contacts.each do |c| %> 
	<%= @contacts_counter +=1%> 	
	<%=text_field_tag(c, c.name, :placeholder => 'name')%>
	<%=text_field_tag(c, c.email, :placeholder => 'email')%>
	<%=text_field_tag(c, c.phone, :placeholder => 'phone')%>
	<%=text_field_tag(c, c.linkedinOrWebsite, :placeholder => 'linkedIn / Website')%>
	<%=text_field_tag(c, c.notes, :placeholder => 'notes')%><br>
	

	<%end%> 
</div>



<%end%> 
